@tailwind base;
@tailwind components;
@tailwind utilities;

.sound-only{
	width: 0!important;
	height: 0!important;
	position: absolute!important;
	left: -9999px!important;
	opacity: 0!important;
	overflow: hidden!important;
}